// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html {
  font-size: 62.5%;
}

body{
  width: 980px;
  margin: 0 auto;
}
.top_menu li.select{
  color: white;
  background-color: black;
  /*padding: 10px;*/
  margin-top: 0;
}
  .header{
    padding:10px;
    background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
  
}
  .container{
   width:100%;
    height:2400px;
    background-color: LightBlue;
    position: relative;
    font-size: small;
  }
  
  nav {
    float:left;
    width:100%;
    /*height:auto;*/
    /*margin-top:3px;*/
    /*padding: 1em;*/
    display :inline;
    background-color:Teal;
    color: black;
    /*height:20px;*/
    /*padding: 35px;*/
     border-radius:20px;
}

nav ul {
    list-style-type: none;
    /*padding-bottom:0;*/
    color: black;
  
}
   
nav ul a li{
    text-decoration: none;
    float:left;
    padding: 15px;
    color: black;
    font-size: large;
    text-align: left;
}
.maincontent{
 
  margin:0px;
  width: 98%;
  height:3000px;
  padding-bottom: 15px;
  }
  
  .content{
    padding:15px;
    
    float: left;
    width:58%;
    height:1463px;
   
    border-radius:20px 20px 10px 10px;
   
    margin-top: 7px;
    
    }
  .sect1{
    float: left;
    text-align: center;
  }
  
  .sect2{
    float: left;
    text-align: center;
  }
  .side_menu{
    float: right;
    width:30%;
     height:350px;

background-color: rgba(230, 237, 240, 0.23);
border-radius:20px 20px 10px 10px;
margin-top: 130px;

    
  }
  
  .pic{
   float: right 
   
    
  }
  
  .footer{
    clear: both;
     color: white;
    background-color: black;
    width: 102%;
    height:auto;
    text-align: center;
    float:center;
    margin-top: 3px;
    position: relative;
    margin-top:5px;
    
  bottom: 0;
  }
  .words{
    font-size: x-large;
    
  }
 .hide {
    display:none;
}
  #accordion {
  width: 100%;
}

#accordion dt {
  border-bottom: solid 1px white;
  background-color: #008080;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

#accordion dd {
  border: solid 1px #ccc;
  margin: 0px;
  padding: 10px;
}

.delete{
  display:inline;
}